   {{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto.

     * Create a button in `index.handlebars` that will submit the user input into the database. --}}


<h1>Macho Taco</h1>

<ul>
  {{#each tacos}}
  <li>
	{{name}}

	{{!-- <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button> --}}

	<button class="pickup-taco" data-id="{{this.id}}">Picked up</button>
</li>

  {{/each}}
</ul>

<p>Taco Name = {{tacos}}</p>
<p>Taco Shell Type = {{type}}</p>


<h2>Add a Taco</h2>
<form class="create-form">

  <div class="form-group">
    <label for="taco">Taco Name:</label>
    <input type="text" id="taco" name="name">
  </div>

  <div class="form-group">
    <label for="shell">Shell Type:</label><br>
    <input type="radio" name="shell" value="1" checked> Hard Shell<br>
    <input type="radio" name="shell" value="0">Soft Shell
  </div>

  <div class="form-group">
    <label for="veg">Vegetarian?</label><br>
    <input type="radio" name="veg" value="1" checked> Yes<br>
    <input type="radio" name="veg" value="0"> No
  </div>

  <button type="submit">Add Taco</button>
</form>
